<h3>Completed:<%= @task.completed %></h3>
<h3><%= @task.title %></h3>
<p><%= @task.details %></p>
<%= link_to'Edit', edit_task_path(@task) %>
<%= link_to'Delete', task_path(@task), method: :delete %>
<br>
<%= link_to'Go Back to Main Menu', tasks_path %>
